<!DOCTYPE html>
{{ "<!-- BEGIN layouts/_default/baseof.html -->" | safeHTML }}
<html>
  <head>
    <meta charset="utf-8">
    {{/* Default the title block to .Site.Title */}}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    {{ "<!-- default main block from baseof.html -->" | safeHTML }}
    {{ end }}
    {{ block "footer" . }}
    {{ "<!-- default footer block from baseof.html -->" | safeHTML }}
    {{ end }}
  </body>
</html>
{{ "<!-- END layouts/_default/baseof.html -->" | safeHTML }}
